<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>CS 181 Drone Project</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="WHITE">
<CENTER>
<H1>CS 181 Final Project</H1>
 

  <H4>Palani Eswaran</H4>
  <H4>Shannon Wu</H4>
  <H4>Cody Mills</H4>
  <H4>Lucas O'Conor</H4>

</html>